.toggle-button {
  background: transparent;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button-square {
  height: 2px;
  background-color: #222;
}