.Main {
  height: 100%;
  overflow: hidden;
  display: flex;
  /* display: grid;
  grid-template-areas: 'area1 area2';
  grid-template-columns: 1fr 5fr; */
}

.page {
  height: 100%;
  width: 100%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  transition: all .2s;
}

.header {
  width: 100%;
}