.drawer {
  overflow: hidden;
  padding: 0.5rem 1em;
  /* height: 100%; */
  width: 300px;
  flex-shrink: 0;
  border-right: 1px solid #ddd;
  background-color: #fff;
  box-sizing: border-box;
}

.filters-title {
  font-size: 12px;
  color: #909399;
}

@media (max-width: 800px) {
  .drawer {
    width: 70%;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.3);
    height: 100%;
    position: fixed;
    visibility: hidden;
    transform: translateX(-110%);
    transition: all 0.5s ease-in-out;
    z-index: 200;
  }

  .drawer.open {
    visibility: visible;
    transform: translateX(0);
  }
}