@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
}

html,
body,
#root,
.fill-container {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

html {
  background-color: #FFC09E;
  font-family: 'Roboto', sans-serif;
}

body {
  font-family: 'Roboto', sans-serif;
}
