@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body, #root, .fill-container {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
}
