  
.card__container {
    background: #FFF7F8;
    font-family: 'Ikaros', sans-serif;
    border-radius: 12px;
    padding: 5% 30%;
    height: 120px;
    display: grid;
    grid-template-areas:
      'title title'
      'subtitle subtitle'
      'left-content right-content';
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.1s;
    width: 40%;
  }
  
  .card__container:hover {
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.5);
  }

  .card__space {
    padding: 20px 50px;
  }
  
  @media screen and (max-width: 1400px) {
    .card__container {
      display: grid;
      padding: 5% 30%;
      grid-gap: 1em;
      grid-template-columns: 1fr;
      grid-template-areas:
        'title'
        'subtitle'
        'content-left'
        'content-right';
    }
  }