  
.card__container {
    background: #FFF7F8;
    font-family: 'Ikaros', sans-serif;
    border-radius: 10px;
    padding: 30px 50px;
    height: 150px;
    display: grid;
    grid-template-areas:
      'title title'
      'subtitle subtitle'
      'left-content right-content';
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.1s;
    width: 40%;
  }
  
  .card__container:hover {
    box-shadow: 0 16px 32px 0 black;
  }

  .card__space {
    padding: 20px 50px;
  }

  .card__title-1 {
    grid-area: title;
    margin: 0;
    line-height: 1.2em;
  }
  
  .card__subtitle {
    grid-area: subtitle;
    font-family: 'Krub', 'sans-serif';
    font-weight: 500;
    color: gray;
    font-style: italic;
  }
  
  .card__title-2 {
    margin-top: 20px;
    font-family: 'Ikaros', sans-serif;
    color: gray;
  }

  .card__theme {
    border-radius: 10px;
  }
  
  @media screen and (max-width: 720px) {
    .card__container {
      display: grid;
      grid-gap: 1em;
      grid-template-columns: 1fr;
      grid-template-areas:
        'title'
        'subtitle'
        'content-left'
        'content-right';
    }
  
    .card__title-2 {
      margin-top: 0;
    }
  }