.navbar {
  display: grid;
  grid-auto-flow: column;
}

.navbar-option > a {
  border-bottom: 1px solid white;
  text-decoration: none;
  display: grid;
  grid-gap: 0.5em;
  padding: 0.8em;
  justify-content: center;
  text-align: center;
  color: #fff7f8;
}

.navbar-option.selected-option > a {
  border-bottom: 3px solid white;
}

.navbar-option > a > i {
  font-size: 2em;
}
